---
import { getCollection } from "astro:content";

// Intenal Components
import BlogCard from "../../components/blog-card.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Layout from "../../layouts/Layout.astro";
import { filterPosts, isLocalEnv, sortPosts } from "../../lib";

const collection = await getCollection("posts");

let posts;
if (isLocalEnv(Astro.url.hostname)) {
  posts = sortPosts(collection);
} else {
  const filteredPosts = filterPosts(collection);
  posts = sortPosts(filteredPosts);
}
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <ul class="flex flex-col gap-1.5">
      {
        posts.map((post) => (
          <li>
            <BlogCard post={post} />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
