---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <p>
      I'm Haseeb Zia Burki. Software engineer & founder @
      <a
        href="https://luagroup.com"
        class="text-blue-500 underline"
        target="_blank">Lua</a
      > and
      <a
        href="https://ideamappers.com"
        class="text-blue-500 underline"
        target="_blank">Idea Mappers</a
      >.
    </p>

    <p>I'm a proud husband 👫, father 👶, and dad joke enthusiast 😬.</p>

    <p>
      I occasionally blog, sharing my technical adventures, lessons learned, and
      random topics which intrigue me.
    </p>

    <p>
      I’m @hzburki pretty much everywhere—<a
        href="https://linkedin.com/in/hzburki"
        class="text-blue-500 underline"
        target="_blank">LinkedIn</a
      >, <a
        href="https://reddit.com/user/hzburki"
        class="text-blue-500 underline"
        target="_blank">Reddit</a
      > and
      <a
        href="https://github.com/hzburki"
        class="text-blue-500 underline"
        target="_blank">GitHub</a
      >, and beyond.
    </p>

    <p class="text-xs text-gray-500">
      Built with <a
        href="https://astro.build/"
        class="text-blue-500 underline"
        target="_blank">Astro</a
      > +
      <a
        href="https://tailwindcss.com/"
        class="text-blue-500 underline"
        target="_blank">Tailwind</a
      >. Template by
      <a
        href="https://github.com/nicholasdly/miniblog?tab=readme-ov-file"
        class="text-blue-500 underline"
        target="_blank">nicholasdly</a
      >.
    </p>
  </main>
</Layout>
