---
import { formatDate } from "../lib";

const { post } = Astro.props;

// Show draft
const showDraft = import.meta.env.DEV && post.data.status === "draft";
---

<a href={`/posts/${post.slug}`} class="group flex justify-between gap-3">
  <span class="group-hover:underline">
    {post.data.title}
    {showDraft && <span class="text-xs font-light text-blue-500">(Draft)</span>}
  </span>
  <span class="text-nowrap text-zinc-500">
    {formatDate(post.data.date)}
  </span>
</a>
