---
import { formatDate } from "../lib/utils";

const { post } = Astro.props;
---

<a href={`/posts/${post.slug}`} class="group flex justify-between gap-3">
  <span class="group-hover:underline">{post.data.title}</span>
  <span class="text-nowrap text-zinc-500">
    {formatDate(post.data.date)}
  </span>
</a>
